.card-img-top:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}

.card-img-top{
    transform: scale(1, 1);
    transition-duration: 0.5s;
}

.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.member-icons{
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    transition: bottom 0.3s ease-in-out;
}

.card:hover .member-icons{
    bottom: 0px;
    transition: bottom 0.3s ease-in-out;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.user-online{
    color: green;
    animation: user-online-keyframe 1s linear infinite alternate;
}

@keyframes user-online-keyframe{
    0% {opacity: 0.4; transform: scale(1, 1);}
    100% {opacity: 1; transform: scale(1.2, 1.2);}
}

