<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
            <div class="card-body">
                <div>
                    <span *ngIf="(presenceService.onlineUsers$ | async).includes(member.userName)"
                        class="user-online">
                        <i class="fa fa-user"></i>
                        <strong class="ml-2 lead">Online</strong>
                    </span>
                    <span *ngIf="!(presenceService.onlineUsers$ | async).includes(member.userName)"
                        class="user-offline">
                        <i class="fa fa-user-times"></i>
                        <strong class="ml-2 lead">Offline</strong>
                    </span>
                </div>
                <div class="mt-2">
                    <strong>Location:</strong>
                    <p class="card-text">{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p class="card-text">{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p class="card-text">{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p class="card-text">{{member.created | date:'d LLL yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row justify-content-around">
                        <button class="btn btn-secondary col-5" (click)="addLike(member.userName)">Like</button>
                        <button class="btn btn-primary col-5" (click)="selectTab(3)">Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #tabSetDetails>
            <tab heading="About {{member.knownAs}}" (selectTab)="onSelect($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Interests" (selectTab)="onSelect($event)">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="Photos" (selectTab)="onSelect($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onSelect($event)" #tabMessages="tab">
                <app-member-messages [recipientUsername]="member.userName"
                    *ngIf="tabMessages.active">
                    </app-member-messages>
            </tab>
        </tabset>
    </div>
</div>    
