<div *ngIf="!registerMode" class="container mt-5">
    <div class="p text-center">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg mr-2" (click)="toggleRegisterMode()">Register</button>
        </div>
    </div>
</div>

<!-- REGISTER -->
<div *ngIf="registerMode" class="container mt-5">
    <app-register [usersFromHomeComponent]="users" (closeRegisterEvent)="closeRegisterForm($event)"></app-register>
</div>
