<div class="p text-center">
    <h2>Sign in</h2>
    <hr/>
    <div class="mt-4" style="margin: 0 auto; width: 50%;">

        

        <form #registerForm ngNativeValidate>
            <div class="form-group">
                <label class="lead" for="inputUsername">Username</label>
                <input 
                id="inputUsername"
                name="inputUsername"
                [(ngModel)]="userToRegisterForm.username"
                type="text" 
                class="form-control" 
                placeholder="Username"
                required
                autofocus>
            </div>
            <div class="form-group">
                <label class="lead" for="inputPassword">Password</label>
                <input 
                    id="inputPassword" 
                    name="inputPassword"
                    [(ngModel)]="userToRegisterForm.password"
                    type="password" 
                    class="form-control" 
                    placeholder="Password"
                    required>
            </div>
            <div class="form-group">
                <label class="lead" for="inputPassword">Repeat password</label>
                <input 
                    id="inputRepeatPassword"
                    name="inputRepeatPassword" 
                    [(ngModel)]="userToRegisterForm.repeatPassword"
                    type="password" 
                    class="form-control" 
                    placeholder="Repeat password"
                    required>
            </div>
            <div class="form-group">
                <label class="lead">Who is your favourite user??</label>
                <select class="form-control" name="selectUser" id="selectUser">
                    <option *ngFor="let user of usersFromHomeComponent">{{user.userName}}</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-lg mr-2" 
                    (click)="registerForm.checkValidity() ? registerUser() : null">Register</button>
                <button type="submit" class="btn btn-primary btn-lg" 
                    (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
